@model SaloonNP.Models.ViewModels.Appointment.AppointmentViewModel

@{
    ViewData.TemplateInfo.HtmlFieldPrefix = "ProductIds";
}

<div class="form-group">
    <label class="control-label">Products</label>
    <div class="main-row">
        @foreach (var product in Model.Products)
        {
            <div class="card product-card" style="width: 18rem; margin: 10px 10px;">
                <div class="imageContainer">
                    <img class="card-img-top hairstyle-image" src="@product.ImageURL" alt="@product.Name">
                </div>
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <button type="button" class="btn btn-primary" onclick="addProduct('@product.Id')">
                        +
                    </button>
                    <span class="action-@product.Id"></span>
                </div>
            </div>
        }
    </div>

    <input type="hidden" id="ProductIds" name="ProductIds" value="@Model.ProductIds" />

</div>

<script>
    function addProduct(productId) {
        var existingProductIds = $('#ProductIds').val();
        var productIds = [];
        if(existingProductIds){
            var ids = existingProductIds.split(',');
            for (i = 0; i < ids.length; i++) {
                productIds.push(ids[i]);
            }
        }
        
        if (productIds.indexOf(productId) === -1) {
            productIds.push(productId);
            $('#ProductIds').val(productIds);
            var actionClass = '.action-' + productId;
            $(actionClass).append('Item added to Product');
        }
    }
</script>