
<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Admin Menu
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="@Url.Action("Index", "Appointment")">Appointments</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", "Staff")">Staff</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", "Hairstyle")">Hairstyle</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", "Location")">Location</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", "Product")">Product</a></li>
            </ul>
        </li>
    </ul>
</div>