@{
    ViewData["Title"] = "Home Page";
}

<label>All Available Hairstyles:</label>
<div class="container">
    <div class="main-row">
        @foreach (var hairstyle in ViewBag.HairStyle)
        {
            <div class="card hairstyle-card" style="width: 18rem; margin: 10px 10px;">
                <div class="imageContainer">
                    <img class="card-img-top hairstyle-image" src="@hairstyle.ImageURL" alt="@hairstyle.Name" data-id="@hairstyle.Id">
                </div>
                <div class="card-body">
                    <h5 class="card-title">@hairstyle.Name</h5>
                    <p class="card-text">@hairstyle.Description</p>
                </div>
            </div>
        }
    </div>
</div>
