@model IEnumerable<SaloonNP.Models.ServiceManagementModels.Product>

<h1>Products</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>ImageURL</th>
            <th>Price</th>
            <th>Cost Price</th>
            <th>Expire Date</th>
            <th>Is Deleted</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <th>@product.ImageURL</th>
                <td>@product.Price</td>
                <td>@product.CostPrice</td>
                <td>@product.ExpireDate</td>
                <td>@(product.IsDeleted ? "Yes" : "No")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@product.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@product.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create">Create New</a>
